zend_extension=xdebug.so
xdebug.idekey={{ php_xdebug_idekey | default("PHPSTORM") }}
xdebug.remote_enable={{ php_xdebug_remote_enable | default(0) }}
xdebug.remote_autostart={{ php_xdebug_remote_autostart | default(0) }}
xdebug.profiler_enable={{ php_xdebug_profiler_enable | default(0) }}
xdebug.remote_connect_back={{ php_xdebug_remote_connect_back | default(0) }}
xdebug.remote_host={{ php_xdebug_remote_host | default('10.10.2.1') }}
