{{ ansible_warning }}
server {
    server_name {{ item.domain }} www.{{ item.domain }};

    root {{ item.directory }}/{{ item.public_dir | default('public') }};

    location / {
        try_files $uri /index.php$is_args$args;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;

        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    error_log /var/log/nginx/error.{{ item.domain }}.log;
    access_log /var/log/nginx/access.{{ item.domain }}.log;

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    location ~ /\.ht {
        deny all;
    }
}
