127.0.0.1	{{ server_domain }}	dev
127.0.0.1	localhost

# The following lines are desirable for IPv6 capable hosts
::1	ip6-localhost	ip6-loopback
fe00::0	ip6-localnet
ff00::0	ip6-mcastprefix
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
ff02::3	ip6-allhosts
127.0.1.1	ubuntu-xenial	ubuntu-xenial

{% for item in projects %}
127.0.0.1 {{ item.domain }} www.{{ item.domain }}
{% endfor %}
